body {
  background-image: url('stars.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
} 
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.app-title {
  font-size: 3rem;
  text-shadow:
    0 0 10px white,
    0 0 20px white,
    0 0 40px white;
}

.app-subtitle {
  font-size: 1.2rem;
  opacity: 0.8;
}
