body {
  margin: 0;
  min-height: 100vh;

  background-image: url("stars.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
  font-family: Arial, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.app-title {
  font-size: 3rem;
  text-shadow: 0 0 10px white, 0 0 20px black, 0 0 40px white;
}

.app-subtitle {
  font-size: 1.2rem;
  opacity: 0.8;
}

#menu button {
  border-radius: 20px;
  margin: 5px;
  padding: 8px 16px;
  color: white;
  border: 1px solid white;
  background: transparent;
}

#menu button:hover {
  background: #0a9396;
}

.planet-slide {
  min-height: 60vh;
  display: flex;
  align-items: center;  
}
.planet-img {
  width: 300px;
  max-width: 80%;
  margin-bottom: 20px;

  filter: drop-shadow(0 0 30px rgba(0,150,255,0.7));
  transition: transform 0.5s ease;
}

.planet-img:hover {
  transform: scale(1.1) rotate(5deg);
}

.carousel-item {
  transition: transform 1.2s ease-in-out;
}
/* Move entire carousel DOWN */
.carousel {
  margin-top: 120px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  padding: 20px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 60%;
  transform: translateY(-50%);
}
.mercury {
  filter: drop-shadow(0 0 40px rgba(180, 0, 255, 0.9));
}

.venus {
  filter: drop-shadow(0 0 40px rgba(255, 200, 0, 0.9));
}

.earth {
  filter: drop-shadow(0 0 40px rgba(0, 150, 255, 0.9));
}

.mars {
  filter: drop-shadow(0 0 40px rgba(255, 60, 0, 0.9));
}

.jupiter {
  filter: drop-shadow(0 0 40px rgba(255, 140, 0, 0.8));
}

.saturn {
  filter: drop-shadow(0 0 40px rgba(255, 220, 100, 0.9));
}

.uranus {
  filter: drop-shadow(0 0 40px rgba(100, 220, 255, 0.9));
}

.neptune {
  filter: drop-shadow(0 0 40px rgba(0, 80, 255, 1));
}

.sun {
  filter: drop-shadow(0 0 60px rgba(255, 200, 0, 1));
}

.moon {
  filter: drop-shadow(0 0 25px rgba(220, 220, 220, 0.8));
}

.black-hole {
  filter: drop-shadow(0 0 50px rgba(120, 0, 255, 0.9));
}

